:root {
	--red_main: #d45957;
	--red_primary: #d45957;
	--red_secondary: #7b3843;
	--background_main: #F1EDE4;
	--background_primary: #F1EDE4;
	--background_secondary: #faf5eb;
	--background_tertiary: #fcf8f0;
	--background_grey: #303434;
	--background_grey_light: #383c3c;
	--card_2: #18cc00;
	--card_3: #0070DD;
	--card_4: #A335EE;
	--card_5: #FF8000;
	--card_6: #FFED00;
	--pink: #F8C8DC;
}