<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/history.css">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
	<title>Cards</title>
</head>

<body>
	<div class="topnav">
		<a href="/">Home</a>
		<a class="active" href="/cards">Cards</a>
		<a href="/history">Balance History</a>
	</div>

	<div class="center">
		<div class="header">
			<h1>Cards</h1>
		</div>

		<div class="form">
		    <div class="form-label">
		    	<label class="username-entry">Username (Case Sensitive)</label>
		    	<label class="entry-required">*</label>
		    </div>
		    <div class="form-input">
		        <input type="text" placeholder="w.vxtn" class="form-control" name="username-entry" access="false" name="username-entry" id="username-entry" required="required" aria-required="true">
		    	<input class="submit-button" type="button" name="submit-button" id="submit-button" value="Submit">
		    </div>
		</div>
	</div>

	<script src="/js/cards.js"></script>
</body>


</html>