<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/card_display.css">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
	<title>Cards</title>
</head>

<body>
	<div class="topnav">
		<a href="/">Home</a>
		<a href="/cards">Cards</a>
		<a href="/search">Card Search</a>
	</div>

	<div class="center">
		<div class="header">
			<h1>Cards</h1>
		</div>
	</div>

	<div class="container", align="center", id="cards">
		{{cards}}
	</div>

	<script src="/js/card_display.js"></script>
</body>


</html>