html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#main-canvas {
	width: 100%;
	height: 100%;
}

.canvas-wrapper {
	position:  relative;
	width: 100%;
	height: 100%;
}

.canvas-wrapper canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
