<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="submit.css">
	<title>Submit</title>
</head>

<body>
	<div class="topnav">
		<a href="/">Home</a>
		<a class="active" href="/submit">Submit</a>
		<a href="/history">Balance History</a>
	</div>

	<div class="center">
		<div class="subheader">
			<h1>Please fill out the following information!</h1>
		</div>
	</div>

	<div class="rendered-form">
	    <div class="formbuilder-file form-group field-file-1645598368229">
	        <label for="file-1645598368229" class="formbuilder-file-label">Photo/Video Upload<span class="formbuilder-required">*</span></label>
	        <input type="file" class="form-control" name="file-1645598368229" access="false" multiple="false" id="file-1645598368229" required="required" aria-required="true">
	    </div>
	    <div class="formbuilder-text form-group field-text-1645598368988">
	        <label for="text-1645598368988" class="formbuilder-text-label">Title Suggestion<span class="formbuilder-required">*</span></label>
	        <input type="text" placeholder="Steven's Pet Iguana" class="form-control" name="text-1645598368988" access="false" id="text-1645598368988" required="required" aria-required="true">
	    </div>
	    <div class="formbuilder-text form-group field-text-1645598369517">
	        <label for="text-1645598369517" class="formbuilder-text-label">People in Photo/Video<span class="formbuilder-required">*</span></label>
	        <input type="text" placeholder="Steven, Steven's Iguana" class="form-control" name="text-1645598369517" access="false" id="text-1645598369517" required="required" aria-required="true">
	    </div>
	</div>
</body>

</html>